- name: V-4696 Check
  shell: svcs uucp 2>&1
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-4696 Check 2
  shell: svcs uucp 2>/dev/null | awk '/disabled/'
  register: checkmyconf2
  ignore_errors: True
  changed_when: False

- name: V-4696 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-4696
      The system must not have the UUCP service active.
      If UUCP is found enabled and its use is not justified and documented with the ISSO, this is a finding.
      Procedure:
      # svcs uucp
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      -
      This is NOT a finding
      -
  when: (checkmyconf2.stdout != "" and REPORT == 1)

- name: V-4696 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-4696
      The system must not have the UUCP service active.
      If UUCP is found enabled and its use is not justified and documented with the ISSO, this is a finding.
      Procedure:
      # svcs uucp
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      ====================================================================
      This is a FINDING
      -
  when: checkmyconf2.stdout == ""

- name: V-4696 Fix-1
  service: name=uucp state=disabled
  when: (checkmyconf2.stdout == "" and FIX == 1)
