###############################################
# Developed For 7.2.4 by Andrew Darley     
#     andrew.darley.ctr@navy.mil  
#      
# Originally created for:
# Solaris 10 x86/SPARC Manual STIG - Ver 1
# Release: 19 Benchmark Date: 28 Jul 2017
# 
# This is expected to run with a play book that
# defines these variables
# output_path
# out_file
# FIX
###############################################


- name: V-4361 Check
  shell: ls -lL /etc/cron.d/cron.allow 2>&1
  args:
    executable: /bin/bash
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-4361 Check 2
  shell: ls -lL /etc/cron.d/cron.allow 2>/dev/null | awk  '$3 !~ /root|bin|sys/'
  args:
    executable: /bin/bash
  register: checkmyconf2
  ignore_errors: True
  changed_when: False

- name: V-4361 Finding Open Tags
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: " "
    block: |
      <finding
        v_id="V-4361"
        rule_id="SV-27366r1_rule"
        raw_risk="II"
        datetime="{{ ansible_date_time.date }}">
        <title>The cron.allow file must be owned by root, bin, or sys.</title>
        <discussion>If the owner of the cron.allow file is not set to root, bin, or sys, the possibility exists for an unauthorized user to view or to edit sensitive information.</discussion>
        <check_content># ls -lL /etc/cron.d/cron.allow
        If the cron.allow file is not owned by root, sys, or bin, this is a finding.</check_content>
        <fix_text># chown root /etc/cron.d/cron.allow</fix_text>

- name: V-4361 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
        <procedure>
          Procedure: 
          # ls -lL /etc/cron.d/cron.allow
        </procedure>
        <output>
                V-4361
            The cron.allow file must be owned by root, bin, or sys.
            If the cron.allow file is not owned by root, sys, or bin, this is a finding.
            Procedure:
            # ls -lL /etc/cron.d/cron.allow
            OUTPUT:
            ->  {{ checkmyconf1.stdout }}
            -
            This is NOT a finding
            -
        </output>
        <comments>/etc/cron.d/cron.allow is owned by root</comments>
        <status>Not a Finding</status>
        <ccis>
          <cci>CCI-000225</cci>
        </ccis>
      </finding>
  when: (checkmyconf2.stdout == "" and REPORT == 1)

- name: V-4361 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
        <procedure>
          Procedure: 
          # ls -lL /etc/cron.d/cron.allow
        </procedure>
        <output>
                V-4361
            The cron.allow file must be owned by root, bin, or sys.
            If the cron.allow file is not owned by root, sys, or bin, this is a finding.
            Procedure:
            # ls -lL /etc/cron.d/cron.allow
            OUTPUT:
            ->  {{ checkmyconf1.stdout }}
            ====================================================================
            This is a FINDING
            -
        </output>
        <comments>/etc/cron.d/cron.allow is NOT owned by root</comments>
        <status>Ongoing</status>
        <ccis>
          <cci>CCI-000225</cci>
        </ccis>
      </finding>
  when: checkmyconf2.stdout != ""

- name: V-4361 Fix-1
  file: path=/etc/cron.d/cron.allow group=sys owner=root
  ignore_errors: True
  when: (checkmyconf2.stdout != "" and FIX == 1)
