- name: V-780 Check
  shell: awk "-F:" '$3 < 100 {print $3 " - "$1}' /etc/group | awk '$3 !~ /^root$|^other$|^bin$|^sys$|^adm$|^uucp$|^mail$|^tty$|^lp$|^nuucp$|^staff$|^daemon$|^sysadmin$|^smmsp$|^gdm$|^webservd$|^postgres$|^unknown$|^netadm$|^mlocate$/'
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-780 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-780
      GIDs reserved for system accounts must not be assigned to non-system groups.
      If any results are returned this needs to be reviewd and many be a finding
      Procedure:
      # awk "-F:" '$3 < 100 {print $3 " - "$1}' /etc/group | awk '$3 !~ /^root$|^other$|^bin$|^sys$|^adm$|^uucp$|^mail$|^tty$|^lp$|^nuucp$|^staff$|^daemon$|^sysadmin$|^smmsp$|^gdm$|^webservd$|^postgres$|^unknown$|^netadm$|^mlocate$/'
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      -
      This is NOT a finding
      -
  when: (checkmyconf1.stdout == "" and REPORT == 1)

- name: V-780 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-780
      GIDs reserved for system accounts must not be assigned to non-system groups.
      If any results are returned this needs to be reviewd and many be a finding
      Procedure:
      # awk "-F:" '$3 < 100 {print $3 " - "$1}' /etc/group | awk '$3 !~ /^root$|^other$|^bin$|^sys$|^adm$|^uucp$|^mail$|^tty$|^lp$|^nuucp$|^staff$|^daemon$|^sysadmin$|^smmsp$|^gdm$|^webservd$|^postgres$|^unknown$|^netadm$|^mlocate$/'
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      ====================================================================
      This is a FINDING
      -
  when: checkmyconf1.stdout != ""
