- name: V-785 Check
  shell: ls / | while read DIR; do find /$DIR  -fstype nfs -prune -o -fstype objfs -prune -o -fstype proc -prune -type f  -name .forward -print >> /root/find.4385 ; done
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-785 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-785
      All files and directories must have a valid owner.
      If any files have no assigned owner, this is a finding.
      Procedure:
      # find / -nouser  -exec ls -ld {} \;
      OUTPUT:
      #->  {{ checkmyconf1.stdout }}
      -
      This is NOT a finding
      -
  when: (checkmyconf1.stdout == "" and REPORT == 1)

- name: V-785 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-785
      All files and directories must have a valid owner.
      If any files have no assigned owner, this is a finding.
      Procedure:
      # find / -nouser  -exec ls -ld {} \;
      OUTPUT:
      #->  {{ checkmyconf1.stdout }}
      ====================================================================
      This is a FINDING
      -
  when: checkmyconf1.stdout != ""
