  - name: V-22407 Check
    shell: grep DUMPADM_SAVDIR /etc/dumpadm.conf | awk "-F=" '{print $2}' | xargs ls -ld
    register: checkmyconf1
    ignore_errors: True
    changed_when: False

  - name: V-22407 Check 2
    shell: grep DUMPADM_SAVDIR /etc/dumpadm.conf | awk "-F=" '{print $2}' | xargs ls -ld | awk '/^\+/'
    register: checkmyconf2
    ignore_errors: True
    changed_when: False

  - name: V-22407 Pass
    blockinfile:
      dest: "{{out_file}}"
      state: present
      marker: "----------------------------------------------------------------------------------------------"
      block: |
        V-22407
        The kernel core dump data directory must not have an extended ACL.
        If the permissions include a "+", the file has an extended ACL and this is a finding.
        Procedure:
        # grep DUMPADM_SAVDIR /etc/dumpadm.conf | awk "-F=" '{print $2}' | xargs ls -ld
        OUTPUT:
        ->  {{ checkmyconf1.stdout }}
        -
        This is NOT a finding
        -
    when: (checkmyconf2.stdout == "" and REPORT == 1)

  - name: V-22407 Fail
    blockinfile:
      dest: "{{out_file}}"
      state: present
      marker: "----------------------------------------------------------------------------------------------"
      block: |
        V-22407
        The kernel core dump data directory must not have an extended ACL.
        If the permissions include a "+", the file has an extended ACL and this is a finding.
        Procedure:
        # grep DUMPADM_SAVDIR /etc/dumpadm.conf | awk "-F=" '{print $2}' | xargs ls -ld
        OUTPUT:
        ->  {{ checkmyconf1.stdout }}
        ====================================================================
        This is a FINDING
        -
    when: checkmyconf2.stdout != ""

  - name: V-22407 Fix
    shell: chmod A- /var/crash
    when: (checkmyconf2.stdout != "" and FIX == 1)

