- name: V-776 Check
  shell: echo $PATH |awk "-F:" '!/^\//'
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-776 Check 2
  shell: echo $PATH |awk "-F:" '!/^\//'
  register: checkmyconf2
  ignore_errors: True
  changed_when: False

- name: V-776 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-776
      The root account's executable search path must be the vendor default and must contain only absolute paths.
      If there is an empty entry, such as a leading or trailing colon or two consecutive colons, this is a finding.
      Procedure:
      # echo $PATH |awk -F: '!/^\//'
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      -
      This is NOT a finding
      -
  when: (checkmyconf1.stdout == "" and REPORT == 1)

- name: V-776 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-776
      The root account's executable search path must be the vendor default and must contain only absolute paths.
      If there is an empty entry, such as a leading or trailing colon or two consecutive colons, this is a finding.
      Procedure:
      # echo $PATH |awk -F: '!/^\//'
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      ====================================================================
      This is a FINDING
      -  This an ADMIN NEEDS TO FIX
  when: checkmyconf1.stdout != ""
