- name: V-22423 Check
  shell: ls -alL /etc/inet/inetd.conf 2>&1
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-22423 Check 2
  shell: ls -alL /etc/inet/inetd.conf | awk '$4 !~ /root|bin|sys/ || $1 ~ /\+/'
  register: checkmyconf2
  ignore_errors: True
  changed_when: False

- name: V-22423 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-22423
      The inetd.conf file must be group-owned by root, bin, or sys.
      The inetd.conf file must not have extended ACLs.

      If the file is not group-owned by root, bin, or sys, this is a finding.
      If the permissions include a "+", the file has an extended ACL and this is a finding.
      Procedure:
      # ls -alL /etc/inet/inetd.conf
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      -
      This is NOT a finding
      -
  when: (checkmyconf2.stdout == "" and REPORT == 1)

- name: V-22423 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-22423
      The inetd.conf file must be group-owned by root, bin, or sys.
      The inetd.conf file must not have extended ACLs.

      If the file is not group-owned by root, bin, or sys, this is a finding.
      If the permissions include a "+", the file has an extended ACL and this is a finding.
      Procedure:
      # ls -alL /etc/inet/inetd.conf
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      ====================================================================
      This is a FINDING
      -
  when: checkmyconf2.stdout != ""

- name: V-22423 Fix-1
  file: path=/etc/inet/inetd.conf group=root state=file
  ignore_errors: True
  when: (checkmyconf2.stdout != "" and FIX == 1)

- name: V-22423 Fix-2
  shell: chmod A- /etc/inet/inetd.conf
  ignore_errors: True
  when: (checkmyconf2.stdout != "" and FIX == 1)

