- name: V-22384 Check
  shell: ls -lL /etc/cron.allow /var/spool/cron/crontabs/ var/cron/log /etc/cron.d/cron.deny /etc/cron.d/at.allow /etc/cron.d/at.deny /etc/cron.d/cron.deny 2>&1 ; ls -lLd /var/spool/cron/atjobs /var/spool/cron/crontabs/ 2>&1
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-22384 Check 2
  shell: ls -lL /etc/cron.allow /var/spool/cron/crontabs/ var/cron/log /etc/cron.d/cron.deny /etc/cron.d/at.allow /etc/cron.d/at.deny /etc/cron.d/cron.deny 2>/dev/null | awk '$1 ~ /\+/ {print $9}'; ls -lLd /var/spool/cron/atjobs /var/spool/cron/crontabs/ 2>/dev/null | awk '$1 ~ /\+/ {print $9}'
  register: checkmyconf2
  ignore_errors: True
  changed_when: False

- name: V-22384 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-22384 V-22388 V-22387 V-22386 V-22389 V-22390 V-22393 V-22395
      The cron.allow file must not have an extended ACL.
      If the permissions include a "+", the file has an extended ACL and this is a finding.
      Procedure:
      # ls -lL /etc/cron.allow /var/spool/cron/crontabs/ var/cron/log /etc/cron.d/cron.deny /etc/cron.d/at.allow /etc/cron.d/at.deny /etc/cron.d/cron.deny; ls -lLd /var/spool/cron/atjobs /var/spool/cron/crontabs/
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      -
      This is NOT a finding
      -
  when: (checkmyconf2.stdout == "" and REPORT == 1)

- name: V-22384 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-22384 V-22388 V-22387 V-22386 V-22389 V-22390 V-22393 V-22395
      The cron.allow file must not have an extended ACL.
      If the permissions include a "+", the file has an extended ACL and this is a finding.
      Procedure:
      # ls -lL /etc/cron.allow /var/spool/cron/crontabs/ var/cron/log /etc/cron.d/cron.deny /etc/cron.d/at.allow /etc/cron.d/at.deny /etc/cron.d/cron.deny; ls -lLd /var/spool/cron/atjobs /var/spool/cron/crontabs/
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      ====================================================================
      This is a FINDING
      -
  when: checkmyconf2.stdout != ""

- name: V-22384 Fix-1
  shell:  chmod A- "{{item}}"
  with_items: "{{checkmyconf2.stdout_lines}}"
  ignore_errors: True
  when: (checkmyconf2.stdout != "" and FIX == 1)
