- name: V-791 Check
  shell: ls -lRa /usr/lib/netsvc/yp /var/yp
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-791 Check 2
  shell: find /usr/lib/netsvc/yp /var/yp -type f -perm -060 -exec ls -ld {} \; |awk '{print $9}'
  register: checkmyconf2
  ignore_errors: True
  changed_when: False

- name: V-791 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-791
      The NIS/NIS+/yp command files must have mode 0755 or less permissive.
      If the file's mode is more permissive than 0755, this is a finding.
      Procedure:
      # ls -lRa /usr/lib/netsvc/yp /var/yp
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      -
      This is NOT a finding
      -
  when: (checkmyconf2.stdout == "" and REPORT == 1)

- name: V-791 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-791
      The NIS/NIS+/yp command files must have mode 0755 or less permissive.
      If the file's mode is more permissive than 0755, this is a finding.
      Procedure:
      # ls -lRa /usr/lib/netsvc/yp /var/yp
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      ====================================================================
      This is a FINDING
      -
  when: checkmyconf2.stdout != ""

- name: V-791 Fix-1
  file: path="{{item}}" mode=0755
  with_items: "{{checkmyconf2.stdout_lines}}"
  when: (checkmyconf2.stdout != "" and FIX == 1)

