- name: V-796 Check
  shell: find /etc /bin /usr/bin /usr/lbin /usr/ucb /sbin /usr/sbin -exec ls -ld {} \; | awk '$4 !~ /root|daemon|bin|sys|adm|tty|lp|uucp|mail|other|smmsp/'
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-796 Check 2
  shell: find /etc /bin /usr/bin /usr/lbin /usr/ucb /sbin /usr/sbin -exec ls -ld {} \; | awk '$4 !~ /root|daemon|bin|sys|adm|tty|lp|uucp|mail|other|smmsp/'
  register: checkmyconf2
  ignore_errors: True
  changed_when: False

- name: V-796 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-796
      All system files, programs, and directories must be group-owned by a system account.
      If any of the system files, programs, or directories are not group-owned by a system account, this is a finding.
      Procedure:
      # find /etc /bin /usr/bin /usr/lbin /usr/ucb /sbin /usr/sbin -exec ls -ld {} \; | awk '$4 !~ /root|daemon|bin|sys|adm|tty|lp|uucp|mail|other|smmsp/'
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      -
      This is NOT a finding
      -
  when: (checkmyconf1.stdout == "" and REPORT == 1)

- name: V-796 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-796
      All system files, programs, and directories must be group-owned by a system account.
      If any of the system files, programs, or directories are not group-owned by a system account, this is a finding.
      Procedure:
      # find /etc /bin /usr/bin /usr/lbin /usr/ucb /sbin /usr/sbin -exec ls -ld {} \; | awk '$4 !~ /root|daemon|bin|sys|adm|tty|lp|uucp|mail|other|smmsp/'
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      ====================================================================
      This is a FINDING
      -
  when: checkmyconf1.stdout != ""

- name: V-796 Fix
  file: dest="{{item}}" group=root
  with_items: "{{checkmyconf2.stdout_lines}}"
  ignore_errors: True
  when: (checkmyconf2.stdout != "" and FIX == 1)

