- name: V-921 Check
  shell: cat /etc/shells | xargs -n1 ls -lL
  register: checkmyconf1
  ignore_errors: True
  changed_when: False

- name: V-921 Check 2
  shell: cat /etc/shells | xargs -n1 ls -lL 2>/dev/null | awk '$3 !~/root|bin/ {print $9}'
  register: checkmyconf2
  ignore_errors: True
  changed_when: False

- name: V-921 Pass
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-921
      All shell files must be owned by root or bin.
      If any shell is not owned by root or bin, this is a finding.
      Procedure:
      # cat /etc/shells | xargs -n1 ls -lL
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      -
      This is NOT a finding
      -
  when: (checkmyconf2.stdout == "" and REPORT == 1)

- name: V-921 Fail
  blockinfile:
    dest: "{{out_file}}"
    state: present
    marker: "----------------------------------------------------------------------------------------------"
    block: |
      V-921
      All shell files must be owned by root or bin.
      If any shell is not owned by root or bin, this is a finding.
      Procedure:
      # cat /etc/shells | xargs -n1 ls -lL
      OUTPUT:
      ->  {{ checkmyconf1.stdout }}
      ====================================================================
      This is a FINDING
      -
  when: checkmyconf2.stdout != ""

- name: V-921 Fix-1
  file: path="{{item}}" group=root owner=root state=file
  with_items: "{{checkmyconf2.stdout_lines}}"
  ignore_errors: True
  when: (checkmyconf2.stdout != "" and FIX == 1)
